  body {
    background-color: #ccccff;
    width: 70%;
    margin: auto;
  }

  header, footer, section, aside, article {
    color: black;
    border: 0px solid white;
    box-sizing: border-box;
    font-family: verdana;
  }

  header, footer, aside, article {
    padding: 20px;
  }

  header {
    background-color: #777;
  }

  article {
    width: 35%;
    float: left;
    min-height: 500px;
  }

  aside {
    width: 30%;
    float: right;
    min-height: 300px;
    background: #f0f0f0;
    position: relative;
    padding: 10px;
  }

  aside h3 {
    position: absolute;
    top: 3em;
    width: 8em;
    right: 1.2em;
    font-size: 1.5em;
    text-align: justify;
  }

  #top {
    text-align: center;
  }

  #top a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 4em 1em;
  }

  #top a:first-child,
  #top a:last-child {
    display: none;
  }

  footer {
    font-size: 0.7em;
    text-align: left;
    float: left;
  }

  footer a {
    text-decoration: none;
    padding: 20px;
  }

  @media screen and (max-width: 1064px) {
    body {
      width: 100%;
    }

    article {
      width: 50%;
      min-height: 500px;
      text-align: center;
    }

    aside {
      width: 100%;
      min-height: 200px;
      display: none;
    }

    #top a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      padding: 2em 1em;
    }
  }

  @media screen and (max-width: 940px) {
    body {
      width: 100%;
    }

    article {
      width: 50%;
      min-height: 500px;
    }

    aside {
      width: 100%;
      min-height: 200px;
      display: none;
    }

    #top a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      padding: 2em 1em;
    }
  }

  @media screen and (max-width: 720px) {
    article {
      width: 100%;
      min-height: 100px;
    }

    aside {
      width: 100%;
      min-height: 100px;
    }

    #top a:nth-child(2),
    #top a:nth-child(3),
    #top a:nth-child(4),
    #top a:nth-child(5),
    #top a:nth-child(6) {
      display: none;
    }

    #top a:first-child,
    #top a:last-child {
      display: inline-block;
      padding: 0px;
    }

    #top a:first-child {
      float: left;
      margin-top: -0.5em;
    }

    #top a:last-child {
      float: right;
      margin-top: -0.5em;
    }

    footer a {
      text-decoration: none;
      padding: 8px;
    }
  }
